<div id="nav-menu">
    <div id="nav-underline"></div>
    <div id="nav-logo"></div>
    <ul id="nav-options">
        <li id="nav-home"><a href="/">Home</a></li>
        <li id="nav-stills"><a href="/stills">Stills</a></li>
        <li id="nav-motion"><a href="/motion">Motion</a></li>
        <li id="nav-about"><a href="/about">About</a></li>
    </ul>
</div>