<div id="social-bar">
    <div id="contact">
        <a class="contact" href="/contact">Contact</a>
        <span class="line"></span>
        
    </div>
    <div id="social-icons">
        <div id="facebook-icon">
                <i class="icon fab fa-facebook-square"></i>
        </div>
        <div id="insta-icon">
                <i class="icon fab fa-instagram"></i>
        </div>
        <div id="linkedin-icon">
                <i class="icon fab fa-linkedin"></i>
        </div>
    </div>
</div>