<div id="social-bar">
    <div id="contact">
        <a class="contact" href="/contact">Contact</a>
        <span class="line"></span>
        
    </div>
    <div id="social-icons">
        <div id="facebook-icon">
                <a class="icon" href="https://www.facebook.com/Patrick-Eckrich-Media-427945771101658/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div id="insta-icon">
               <a class="icon" href="https://www.instagram.com/patrickeckrich" target="_blank"><i class="fab fa-instagram"></i></a> 
        </div>
        <div id="linkedin-icon">
               <a class="icon" href="https://www.linkedin.com/in/patrick-eckrich-8bbbb762/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>