<div id="bio-window">
<div id="bio-wrapper">
    <div id="bio-image"></div>
        <div id="bio-pic"></div>
    <div id="bio-text">
        <h1>Patrick Eckrich</h1>
        <p><strong>Bio:</strong> Patrick Eckrich is a photographer filmaker in Denver, CO. He graduated Magna Cum Laude from the University of Denver with a degree in Finance and Accounting. After several years of working in commercial real estate, he left his firm and embarked on a solo bicycle journey from Hong Kong to Singapore - a journey of three months and over four thousand miles. Along the way, he blogged his experience to his friends and family back home, through his writings, photos, and videos. 
            <br>
            <br>    Back in the States, he decided to apply his creative talents to help clients tell their stories visually. His expertise includes real estate photography, landscape photography, and aerial filmography. He currently holds a private pilots license as well as a FAA commercial drone license.</p>
    </div>
</div>
</div>


<% include ./partials/_nav_bar %>
<script src="../public/public/js/about.js"></script>