<div id="contact-wrapper">
    <h1 id="contact-text">Contact</h1>
    <div id="contact-form">
            
            <form id="contactform" method="POST" name="contactform" action="contact-form-handler.php">
              <div class="row">
                  <div class="small-12 column contact-divs">
                  <div class="form-floating-label">
                    <input type="text" id="name" name="name">
                    <label for="name">Name</label>
                  </div>
                </div>
                <div class="small-12 column contact-divs">
                  <div class="form-floating-label">
                    <input type="email" id="email" name="email" required>
                    <label for="email">Email</label>
                  </div>
                </div>
                
                <div class="small-12 column contact-divs">
                  <div class="form-floating-label">
                    <input type="tel" id="tel" name="tel">
                    <label for="tel">Phone Number(optional)</label>
                  </div>
                </div>
                <div class="small-12 column contact-divs">
                  <div class="form-floating-label">
                    <textarea name="message" id="text-area" rows="10" placeholder=""></textarea>
                    <label for="textarea">message</label>
                  </div>
                </div>
              </div>
              <div id="submit-wrapper">
                <div id="submit-button"><P>Submit</P></div>
              </div>
            </form>
    </div>
</div>

<% include ./partials/_nav_bar %>
<script src="/public/public/js/gen_validatorv31.js"></script>
<script src="/public/public/js/contact.js"></script>