<div id="homeImg">

  <div class="grid-x top-bar">
    <div id="stills-div" class="cell border-cell main-cell medium-4 large-4">
      <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li data-submenu-toggle>
          <a class="main-item" href="/stills" data-submenu-toggle>STILLS</a>

      </ul>
    </div>
    <div id="about-div" class="cell border-cell main-cell medium-4 large-4">
      <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li><a class="main-item" href="/about">ABOUT</a></li>
        
      </ul>
    </div>
    <div id="motion-div" class="cell main-cell medium-4 large-4">
      <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li>
          <a class="main-item" href="/motion">MOTION</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="middle-logo-bar">
    <div id="middle-logo"></div>
  </div>
</div>