<div id="motion-container">
    <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/ROfARzgt3RM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/a4vu-_nAJW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/E9vk1WD8CGk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/b3JK2uZIFAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <div class="reveal" id="orbit-modal" data-reveal>
        <div id="modal-close">Close X</div>
        <div id="social-bar">
            <div id="contact">
                <a class="contact" href="/contact">Contact</a>
                <span class="line-m"></span>

            </div>
            <div id="social-icons">
                <div id="facebook-icon">
                    <i class="icon fab fa-facebook-square"></i>
                </div>
                <div id="insta-icon">
                    <i class="icon fab fa-instagram"></i>
                </div>
                <div id="linkedin-icon">
                    <i class="icon fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <div id="orbitdiv">
            <div class="orbit-button" id="orbit-left" data-slide-direction="slickPrev"><i class="orbit-icon icon-left-open-big"></i></div>
            <div id="slick-orbit" class="slider slick-orbit" data-test='test'></div>
            <div class="orbit-button" id="orbit-right" data-slide-direction="slickNext"><i class="orbit-icon icon-right-open-big"></i></div>
        </div>
    </div> -->
</div>

<% include ./partials/_social_media %>

<% include ./partials/_nav_bar %>
<script src="/public/public/js/motion.js"></script>