<div id="stills-wrapper">
    <div id="filter-bar">
        <div id="borderRight"></div>
        <div id="filter-options"><h2>Filter</h2></div>
        
        
    </div>
    
    <div id="photos"></div>
    <div id="orbit-mobil">
        <div id="orbitdiv"></div>
    </div>
    
    <% include ./partials/_nav_bar %>
</div>
<script src="../public/public/js/stills.js"></script>