<div id="stills-wrapper">
    <div id="filter-bar"></div>
    <div id="photos"></div>
    <div id="orbit-mobil">
        <div id="orbitdiv"></div>
    </div>
    

</div>
<script src="../public/public/js/stills.js"></script>